.explore-btn {
  position: relative;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  background: #0E0A2A;
  padding: 8px;
  border: 2px solid #0E0A2A;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  width: 160px;
  overflow: hidden;
  border-radius: 5px;
}

span {
  z-index: 5;
  position: relative;
  transition: color 350ms ease;
}
.explore-btn:hover span {
  color: white;
}

.explore-btn::after,
.explore-btn::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #3A42FF;
  z-index: -1;
}

.explore-btn::before {
  transform: translateX(-100%);
  z-index: 1;
}

.explore-btn:hover:before {
  transform: translateX(0);
  transition: transform 350ms ease;
}

.explore-btn::after {
  z-index: 0;
  transform: translateX(100%);
  transition: none;
  transition: transform 350ms ease;
}

.explore-btn:hover:after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 350ms 360ms ease;
}

.card-title {
  font-weight: bold;
}